@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
}

body {
  width: 1512px;
  margin: 0 auto;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 203px;
  right: 133px;
  width: 350px;
  height: 285px;
  background: url("../images/map_img/map.svg");
  z-index: 0;
}

nav::before {
  content: "";
  position: absolute;
  top: 312px;
  right: 222px;
  width: 172px;
  height: 40px;
  background: url("../images/map_img/button.svg");
}

.text__container {
  position: absolute;
  top: 145px;
  right: 362px;
}
.text__container p {
  font-size: 12px;
  line-height: 16px;
}

body::after {
  content: "";
  position: absolute;
  top: 214px;
  right: 148px;
  width: 15px;
  height: 15px;
  background: url("../images/map_img/cross.svg");
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11px auto;
}
nav .nav__left {
  display: flex;
}
nav .nav__left a {
  margin: 4px 40px 0 24px;
}

.nav__left__search-left {
  display: flex;
  align-items: center;
  width: 300px;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.nav__left__search-left input {
  border: none;
  font-size: 16px;
}
.nav__left__search-left img {
  margin: 10px 5px 10px 10px;
}

.nav__left__search-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav__left__search-right input {
  border: none;
  margin: 13px 0 13px 17px;
}
.nav__left__search-right input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.nav__left__search-right button {
  padding: 9px;
  background-color: #f65858;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav__right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.nav__right img {
  margin-right: 4px;
}
.nav__right a {
  margin-right: 21px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.nav__right button {
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  background-color: #00798a;
  border: none;
  border-radius: 8px;
}

main {
  width: 1196px;
  margin: 0 auto;
  margin-top: 101px;
}

.main__name h3 {
  margin-bottom: 16px;
}
.main__name a {
  font-size: 20px;
  color: #00798a;
  line-height: 28px;
  border-bottom: 3px solid #00798a;
  font-weight: 500;
}

.main__menu {
  margin-top: 18px;
  display: inline-flex;
  gap: 12px;
  margin-bottom: 56px;
}
.main__menu button {
  font-size: 14px;
  background: #f6f7f8;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}
.main__menu button img {
  margin-left: 30px;
  margin-right: 8px;
  text-align: center;
  transition: all 0.5s ease;
}

.rotate {
  transform: rotate(180deg);
}

.main__menu-item {
  position: relative;
  display: inline-block;
}

.main__menu-item-btn:hover {
  background-color: #f3e0de;
}

.submenu_container {
  display: none;
  position: absolute;
  top: 91%;
  left: 10px;
  z-index: 1;
  background-color: #f6f7f8;
  border-radius: 8px;
  width: 114px;
}

.submenu_container.active {
  display: block;
}

.submenu_container__item {
  font-size: 14px;
  padding: 5px 0 5px 5px;
  cursor: pointer;
}

.submenu_container__item:hover {
  color: #f65858;
}

.container__events {
  width: 604px;
}

.events__element {
  display: flex;
  gap: 12px;
  border-top: 1px solid #d9d9d9;
}

.events__element-img img {
  width: 159px;
  height: 90px;
  margin-top: 16px;
  margin-bottom: 55px;
  transition: all 0.5s ease;
}
.events__element-img img:hover {
  transform: scale(1.3);
}

.data {
  margin-top: 20px;
  font-style: 14px;
  line-height: 20px;
  color: #7c6f50;
}

.distance {
  margin-bottom: 48px;
}

.distance,
.attendes {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
}

.events__element-description h5 {
  margin: 4px 0;
}

footer {
  height: 559px;
  background: #212121;
  color: #f6f7f8;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.container {
  width: 1120px;
  height: 94px;
  margin: 0 auto;
}

.head {
  border-bottom: 2px solid #707070;
  display: flex;
  align-items: center;
}
.head h5 {
  width: 249px;
}
.head button {
  font-style: 16px;
  color: #ffffff;
  background: #212121;
  padding: 10px 14px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  margin: 24px 16px;
}

.container__main-left,
.container__main-main,
.container__main-right {
  margin: 24px 0 41px 0;
  width: 373px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.container__main-left a,
.container__main-main a,
.container__main-right a {
  color: #c5c4c4;
  margin: 3px 0;
}

.container__main {
  display: flex;
}

.container__undermain {
  height: 90px;
  margin-bottom: 24px;
}
.container__undermain h5 {
  margin-bottom: 12px;
}

.container__undermain-icon {
  display: flex;
  align-items: center;
  gap: 32px;
}

.container__undermain-snags {
  display: flex;
  height: 28px;
  gap: 22px;
}

.container__undermain-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__footer {
  display: flex;
  gap: 24px;
}
.footer__footer a {
  font-style: 14px;
  line-height: 20px;
  color: #ffffff;
}

.nav__left__search-right__ {
  display: none;
}

.events_container {
  display: none;
}

.events_element {
  width: 370px;
  display: flex;
  gap: 8px;
  border-top: 1px solid #d9d9d9;
}
.events_element .events_element-img {
  margin-top: 10px;
  margin-bottom: 30px;
}

.events_element-description p {
  font-size: 9px;
  line-height: 12px;
  font-weight: normal;
  color: #7c6f50;
  padding-top: 2px;
}
.events_element-description span {
  padding-top: 2px;
  display: flex;
  margin-left: -2px;
  font-size: 7px;
  color: #707070;
  line-height: 9.7px;
}

.data_title {
  font-size: 9px;
  line-height: 12px;
  font-weight: normal;
  color: #7c6f50;
  text-transform: uppercase;
}

.data_title {
  margin-top: 12px;
}

.attend {
  margin-top: 18px;
  margin-bottom: 20px;
}

@media (max-width: 393px) {
  body {
    width: 393px;
    margin: 0 auto;
  }
  h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  h3 {
    font-size: 20px;
  }
  body::before {
    display: none;
  }
  body::after {
    display: none;
  }
  nav::before {
    display: none;
  }
  .text__container {
    display: none;
  }
  .nav__right {
    margin-right: 7px;
  }
  .nav__right img {
    width: 17px;
    height: 17px;
    margin-right: 3px;
  }
  .nav__right a {
    font-size: 12px;
    line-height: 17px;
    margin-right: 19px;
  }
  .nav__right button {
    font-size: 12px;
    line-height: 17px;
    padding: 7px 13px !important;
    border-radius: 7px !important;
  }
  nav {
    margin: 6px 0 10px 0;
  }
  .nav__left__search-left,
  .nav__left__search-right {
    display: none !important;
  }
  .nav__left__search-right__ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 31px 11px 20px;
    height: 42px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
  .nav__left__search-right__ div {
    display: flex;
    align-items: center;
  }
  .nav__left__search-right__ img {
    width: 22px;
    height: 22px;
    margin: 10px;
  }
  .nav__left__search-right__ input {
    border: none;
  }
  .nav__left__search-right__ input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #d9d9d9;
  }
  .nav__left__search-right__ button {
    padding: 2px;
    background-color: #f65858;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .nav__left__search-right__ button img {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
  }
  main {
    width: 364px;
    margin: 0 auto;
    padding: 0 !important;
  }
  .container__events {
    width: 370px;
    margin: 0 auto;
  }
  .main__menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    margin-bottom: 18px;
    height: 120px;
  }
  .submenu_container {
    display: none;
    position: absolute;
    top: 47%;
    left: 10px;
    z-index: 1;
    background-color: #f6f7f8;
    border-radius: 8px;
    width: 114px;
  }
  /* Стили для полосы прокрутки */
  ::-webkit-scrollbar {
    width: 12px; /* Толщина полосы */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет дорожки */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 10px; /* Закругление ползунка */
    border: 2px solid #ccc; /* Отступ внутри ползунка */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет ползунка при наведении */
  }
  .events__element-img img {
    width: 97px;
    height: 54px;
    margin: 10px 0 48px 0;
  }
  .data {
    font-size: 9px;
    line-height: 12px;
    color: #7c6f50;
  }
  .events__element-description h5 {
    font-size: 10px;
    line-height: 15px;
    color: #212121;
    font-weight: 500;
  }
  .distance {
    font-size: 9px;
    line-height: 12px;
    color: #707070;
    margin-bottom: 0;
  }
  .attendes {
    font-size: 7px;
    line-height: 9.7px;
    color: #707070;
  }
  footer .container {
    width: 393px;
    padding-left: 14px;
    margin-top: 67px;
  }
  .head {
    border: none;
  }
  .head button {
    padding: 10px 14px;
    margin: 20px 7px 20px 0px !important;
  }
  .head h5 {
    margin-left: 4px;
    border-bottom: 1px solid #c5c4c4;
    padding: 35px 0;
  }
  .container__undermain-snags img {
    display: none;
  }
  .container__main a {
    font-size: 14px;
  }
  .container__main-left {
    margin: 24px 0 41px 4px;
  }
  .container__main-main {
    margin: 24px 0 16px 0;
  }
  .footer__footer a:nth-child(n+2) {
    display: none;
  }
}

/*# sourceMappingURL=style1.css.map */
